@using TaskListApp.Web.Areas.User.Models.EmployeesViewModels;
@model EmployeesViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/User/Views/Shared/_Layout.cshtml";
}

<h2>Employees</h2>

<div class="employees-container container">
    @if(Model.Employees != null && Model.Employees.Count() > 0)
    {

    }
    else 
    {
        <p>There are no employees</p>
    }

</div>

